.btnBtn{
    padding: 5px 10px;
    color: white;
    max-width: 150px;
    background-color: lightgray;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    border: 0ch;
}

.btnBtn:hover{
    padding: 5px 10px;
    color: white;
    max-width: 150px;
    background-color: rgb(150, 150, 150);
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    border: 0ch;    
}