/*---------- COCOGOOSE ----------*/
@font-face {
    font-family: 'cocoggoseRegular';
    src: url(../../public/assets/fonts/cocogoose/Zetafonts\ -\ CocogoosePro-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'cocoggoseSemiLight';
    src: url(../../public/assets/fonts/cocogoose/Zetafonts\ -\ Cocogoose\ Pro\ SemiLight.ttf) format('truetype');
}
@font-face {
    font-family: 'cocoggoseLight';
    src: url(../../public/assets/fonts/cocogoose/Zetafonts\ -\ Cocogoose\ Pro\ Light.ttf) format('truetype');
}
@font-face {
    font-family: 'cocoggoseThin';
    src: url(../../public/assets/fonts/cocogoose/Zetafonts\ -\ Cocogoose\ Pro\ Thin.ttf) format('truetype');
}

/*---------- INCONSOLATA ----------*/
@font-face {
    font-family: 'inconsolataBold';
    src: url(../../public/assets/fonts/inconsolata/Inconsolata-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'inconsolataRegular';
    src: url(../../public/assets/fonts/inconsolata/Inconsolata-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'inconsolataLight';
    src: url(../../public/assets/fonts/inconsolata/Inconsolata-Light.ttf) format('truetype');
}

/*---------- OPENSANS ----------*/
@font-face {
    font-family: 'openSansBold';
    src: url(../../public/assets/fonts/openSans/OpenSans-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'openSansRegular';
    src: url(../../public/assets/fonts/openSans/OpenSans-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'openSansMedium';
    src: url(../../public/assets/fonts/openSans/OpenSans-Medium.ttf) format('truetype');
}

/*---------- NEUEHASS ----------*/
@font-face {
    font-family: 'neueHaasBlack';
    src: url(../../public/assets/fonts/NeueHaasGroteskDisplayPro/NeueHaasDisplayBlack.ttf) format('truetype');
}
@font-face {
    font-family: 'neueHaasBold';
    src: url(../../public/assets/fonts/NeueHaasGroteskDisplayPro/NeueHaasDisplayBold.ttf) format('truetype');
}
@font-face {
    font-family: 'neueHaasMedium';
    src: url(../../public/assets/fonts/NeueHaasGroteskDisplayPro/NeueHaasDisplayMedium.ttf) format('truetype');
}
@font-face {
    font-family: 'neueHaasRoman';
    src: url(../../public/assets/fonts/NeueHaasGroteskDisplayPro/NeueHaasDisplayRoman.ttf) format('truetype');
}
@font-face {
    font-family: 'neueHaasRomanItalic';
    src: url(../../public/assets/fonts/NeueHaasGroteskDisplayPro/NeueHaasDisplayRomanItalic.ttf) format('truetype');
}
@font-face {
    font-family: 'neueHaasLight';
    src: url(../../public/assets/fonts/NeueHaasGroteskDisplayPro/NeueHaasDisplayLight.ttf) format('truetype');
}
@font-face {
    font-family: 'neueHaasLightItalic';
    src: url(../../public/assets/fonts/NeueHaasGroteskDisplayPro/NeueHaasDisplayLightItalic.ttf) format('truetype');
}
@font-face {
    font-family: 'neueHaasThin';
    src: url(../../public/assets/fonts/NeueHaasGroteskDisplayPro/NeueHaasDisplayThin.ttf) format('truetype');
}
@font-face {
    font-family: 'neueHaasXThin';
    src: url(../../public/assets/fonts/NeueHaasGroteskDisplayPro/NeueHaasDisplayXThin.ttf) format('truetype');
}
@font-face {
    font-family: 'neueHaasXXThin';
    src: url(../../public/assets/fonts/NeueHaasGroteskDisplayPro/NeueHaasDisplayXXThin.ttf) format('truetype');
}