.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 0px 0px 0px;
}

.loaderItem{
    margin-top: 300px;
    height: 42vh;
}

.loaderItem1{
    position: relative;
    top: 80px;
}
